.App {
  text-align: center;


  .all-posts {
    display: flex;
    justify-content: space-between;
  }

  .btn-styled {
    background: lightpink !important;
    border-color: lightpink !important;
  }

  &-logo {
    height: 40vmin;
    pointer-events: none;
  }

  &-link {
    color: #61dafb;
  }

  @media (prefers-reduced-motion: no-preference) {
    &-logo {
      animation: App-logo-spin infinite 20s linear;
    }

    &-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
